@import url('https://fonts.googleapis.com/css?family=Oswald|Lato:300');

*   {
    box-sizing: border-box;
    }

body {
    font-family: Lato;
    color: #FFFFFF;
    background : #2e377f;
}

h2  {
    font-family: Lato;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #FFFFFF;
    margin-left: -1%;
    display: inline;
 
}
 #header {
    margin: 0;
    border-bottom: 1px solid #28306C;
    color: #ffffff;
}

/* Hero image */
#hero-image{	
    height:600px;	
  width: 100%;	
    background: url('assets/images/hero_image.jpg')no-repeat center center;
    background-size: contain;	
    animation-name: hero-zoom;	
    animation-duration: 5s;	
    animation-fill-mode: forwards;
    margin-top: 5%;	
}

#hero-outer{	
    height:600px;	
    width: 100%;	
    position: relative;
    margin-bottom: 10%;
}	
.responsive{
    display: 100%;
  height: auto;
}

@keyframes hero-zoom {	
    from{	
        transform: scale(1);	
    }	
    to{	
        transform: scale(1.1);	
    }	
    }
/*end of hero image*/ 

/* SECTION THREE CLASS TIMES */

#thisweek{
    margin-top: 120px !important;
    margin-left: 50px;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 5px;
  }
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .thisweek-container {
    position: relative;
    width: 90%;
  }
  
  .thisweek-text {
    background-color: #ffffff;
    color: #28306C;
    font-size: 16px;
    padding: 16px 32px;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .thisweek-container:hover .image {
    opacity: 0.3;
  }
  
  .thisweek-container:hover .middle {
    opacity: 1;
  }
  
  
  
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
/*end of class times*/
  
